.app-wrapper {
  width: 100%;
  transform: scale(1);
  transform-origin: 0 0;
  transition-property: all;
  transition-duration: 0.69s;
  /* transition-delay: 20ms; */
}

.leaflet-container {
  width: 800px;
  height: 700px;
}

body.dark-mode {
  background-color: #111015;
  color: #fefefe;
}

body.light-mode {
  background-color: #fefefe;
  color: #111015;
}

@media (max-width: 1334px) {
  .app-wrapper {
    transform: scale(0.9);
    /* transform: scale(calc(1 - (1324 - 100vw) / (1324 - 1000) * 0.2)); */
  }
}
